* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: #ddd;
    font-size: 18px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    margin: 50px;
}

/* container */
.container {
    display: grid;
    gap: 10px;
}

/* header */
.header {
    display: grid;
    grid-template-areas:
        'hero hero feature-1'
        'hero hero feature-2';
}

.hero {
    grid-area: hero;
    min-height: 400px;
    background-image: url(img/code.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.hero>* {
    display: none;
}

.features {
    background-color: black;
    color: white;
    display: grid;
    /* justify-content: center;
    align-content: center; */
    place-content: center;
    text-align: center;
    cursor: pointer;
}

.feature-1 {
    grid-area: feature-1;
    background-image: url(img/mouse.jpg);
    background-size: cover;
    transition: 0.6s ease-in-out;
}

.feature-1:hover {
    filter: opacity(0.88);
    transition: all 0.4s;
    transform-origin: bottom left;
    transform: scale(1.02);
}

.feature-2 {
    grid-area: feature-2;
    background-image: url(img/keyboard.jpg);
    background-size: cover;
    transition: 0.6s ease-in-out;
}

.feature-2:hover {
    filter: opacity(0.88);
    transition: all 0.4s;
    transform-origin: top left;
    transform: scale(1.02);
}

.features .price {
    font-size: 2em;
    font-weight: 200;
}

.menu {
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.menu .brand {
    font-size: 1.2em;
    color: #333;
    padding-bottom: 10px;
}

.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}

.menu .menu-list a {
    display: block;
    text-decoration: none;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.8em;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}



/* services */
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.service {
    padding: 10px;
    text-align: center;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.service .icon {
    font-size: 3em;
}

.service h3 {
    font-size: 1.5em;
}

.service p {
    font-weight: 400;
    word-spacing: 3px;
}

/* gallery */

.gallery {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}

.gallery h2 {
    /* grid-column-start: 1;
    grid-column-end: -1; */
    grid-column: 1 / -1;
    margin-bottom: 25px;
    text-align: center;
}



/* Responsive Breakpoint */
@media screen and (max-width: 1024px) {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }

    .menu .brand {
        display: none;
    }

    .hero>* {
        display: block;
        color: white;
        padding: 5px;
        background-color: rgba(175, 157, 157, 0.6);
        border-radius: 7px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size: 1.4em;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        order: -1;
        justify-items: end;
    }

    .menu-toggle {
        display: flex;
    }

    .menu-list li a {
        transition: 0.6s ease-in-out;
    }

    .menu-list li a:hover {
        transform: scale(1.3);
        transition: all 0.4s;
    }

    .menu ul {
        display: flex;
        font-size: 1.5em;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        align-items: center;
        justify-content: space-evenly;
        z-index: 1;
        transform: translatey(-100%);
        transition: all 1s;
        opacity: 0;
    }

    .menu ul.slide {
        opacity: 1;
        /* right: 0; */
        transform: translatey(0);
    }
}

@media screen and (max-width: 600px) {
    body {
        margin: 15px;
    }

    .header {
        grid-template-areas:
            'hero'
            'feature-1'
            'feature-2';
    }

    .feature-1 {
        transition: 0.6s ease-in-out;
        background-position-y: -70px;
    }

    .feature-1:hover {
        filter: opacity(0.88);
        transition: all 0.4s;
        transform-origin: bottom;
        transform: scale(1.02);
    }

    .feature-2 {
        transition: 0.6s ease-in-out;
        background-position-y: -90px;
    }

    .feature-2:hover {
        filter: opacity(0.88);
        transition: all 0.4s;
        transform-origin: top;
        transform: scale(1.02);
    }
}